In [71]:
import pandas as pd
import numpy as np
import ujson as json
import matplotlib.pyplot as plt
import os
from sklearn.model_selection import train_test_split

### Get all .ndjson files from folder

In [75]:
data_files = os.listdir('./data/')
data_files = [f'./data/{file}' for file in data_files]
print(data_files)

['./data/.DS_Store', './data/full_numpy_bitmap_ambulance.npy', './data/full_numpy_bitmap_apple.npy', './data/full_numpy_bitmap_airplane.npy']

In [78]:
# records = [map(json.loads, open(file)) for file in data_files]

records = {'category': [], 'drawing': []}
categories = []
for file in data_files:
    if file == './data/.DS_Store':
        continue
    category = file.split('/')[-1].split('.')[0]
    categories.append(category)
    data = np.load(file)[:5000]
    for d in data:
        records['category'].append(category)
        records['drawing'].append(d)

df = pd.DataFrame(data=records)
# One hot encode
one_hot = pd.get_dummies(df['category'])
# df = df.drop('category',axis = 1)
df['category_code'] = one_hot[categories].values.tolist()

In [79]:
df

,category,drawing,category_code
0,full_numpy_bitmap_ambulance,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0]"
1,full_numpy_bitmap_ambulance,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0]"
2,full_numpy_bitmap_ambulance,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0]"
3,full_numpy_bitmap_ambulance,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0]"
4,full_numpy_bitmap_ambulance,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0]"
...,...,...,...
14995,full_numpy_bitmap_airplane,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 1]"
14996,full_numpy_bitmap_airplane,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 1]"
14997,full_numpy_bitmap_airplane,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 1]"
14998,full_numpy_bitmap_airplane,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 1]"
14999,full_numpy_bitmap_airplane,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 1]"

In [81]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df['drawing'], df['category'], test_size=0.20, random_state=42)

### Creating a basic random forrest classifier for baseline

In [46]:
# from sklearn.ensemble import RandomForestClassifier
# # random_forrest_clf = RandomForestClassifier()
# # random_forrest_clf.fit(X_train, y_train)

225    [[114.0, 22.0, 0.0], [100.0, 78.0, 0.0], [95.0...
140    [[109.0, 48.0, 0.0], [255.0, 43.0, 0.0], [231....
18     [[22.0, 60.0, 0.0], [76.0, 54.0, 0.0], [190.0,...
181    [[0.0, 145.0, 0.0], [2.0, 97.0, 0.0], [46.0, 9...
96     [[118.0, 87.0, 0.0], [136.0, 65.0, 0.0], [152....
                             ...
188    [[0.0, 126.0, 0.0], [7.0, 57.0, 0.0], [19.0, 5...
71     [[95.0, 52.0, 0.0], [67.0, 53.0, 0.0], [47.0, ...
106    [[63.0, 140.0, 0.0], [63.0, 45.0, 0.0], [60.0,...
270    [[194.0, 62.0, 0.0], [127.0, 53.0, 0.0], [67.0...
102    [[27.0, 21.0, 0.0], [6.0, 91.0, 0.0], [0.0, 13...
Name: drawing, Length: 195, dtype: object