In [15]:
import pandas as pd
import numpy as np
import ujson as json
import matplotlib.pyplot as plt
import os

### Get all .ndjson files from folder

In [16]:
data_files = os.listdir('./data/')
data_files = [f'./data/{file}' for file in data_files]
print(data_files)

['./data/apple_raw.ndjson', './data/ambulance_raw.ndjson', './data/airplane_raw.ndjson']

In [30]:
# records = [map(json.loads, open(file)) for file in data_files]

records = []
for file in data_files:
    with open(file, 'r') as f:
        lines = f.readlines()
        for i in range(0, 100):
            records.append(json.loads(lines[i]))
            
raw_df = pd.DataFrame.from_records(records)

In [38]:
filtered_data = { 'category': raw_df['word'], 'drawing': raw_df['drawing'] }

data = pd.DataFrame(data=filtered_data)
data.category = pd.Categorical(data.category)
data['category_code'] = data.category.cat.codes
data.head()

0      2
1      2
2      2
3      2
4      2
      ..
295    0
296    0
297    0
298    0
299    0
Length: 300, dtype: int8

  category                                            drawing  category_code
0    apple  [[[675], [158], [0]], [[675, 675], [158, 158],...              2
1    apple  [[[746, 741, 736, 731, 726, 721, 716, 711, 706...              2
2    apple  [[[708, 701, 694, 688, 678, 673, 667, 659, 619...              2
3    apple  [[[494, 487, 481, 476, 471, 463, 458, 453, 444...              2
4    apple  [[[531, 524, 518, 513, 506, 501, 495, 488, 481...              2

In [13]:
for stroke in raw_entry:
    x = stroke[0]
    y = stroke[1]
    plt.plot(x, y)
plt.show()

NameError: name 'raw_entry' is not defined